.Weather {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid pink;
  padding: 16px;
  border-radius: 4px;
  color: #aaaaaa;
}
.Weather h1 {
  color: #ffc7c7;
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather canvas {
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
}

.Weather .temperature {
  color: #000;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -32px;
}
